# PyCharm配置（必加）
.idea/
*.iml
misc.xml
modules.xml
vcs.xml
inspectionProfiles/

# Python相关（必加）
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
*.log

# Arduino编译文件
*.hex
*.elf
*.o
*.d
*.bin
build/
.pioenvs/
.piolibdeps/
# 串口/硬件日志
serial_log*.txt
hardware_debug/

# 系统临时文件
.DS_Store
Thumbs.db
temp/

